<p>
    <% if (result.length > 0) { %>
   <% result.forEach(result => { %>
	<div class="card mt-4">
	  <div class="card-body">
		<h4 class="card-title"><%= result.Description %></h4>
		<div class="card-text mb-2"><%= result.Symbol %></div>
		<a href="/stocks/<%= result.Symbol %>" class="btn btn-success">Read More</a>
		<!-- <a href="/asd/<%= result.id %>" class="btn btn-warning">Edit</a> -->
		<!-- <form action="/articles/<%= result.id %>?_method=DELETE" method="POST" class="d-inline">
		  <button type="submit" class="btn btn-danger">Delete</button>
		</form> -->
	  </div>
	</div>
  <% }) %>
<% } else  { %> 
        There are no stocks to display
    <% }  %> </p>