
    <!DOCTYPE html>
<html>
<%- include('./partials/style.ejs') %>
<body>
	<%- include('./partials/header.ejs') %>

<div id="container"><main class="column" id="center">
<article>
<h3>Here are all of the NASDAQ stocks </h3>



<%- include('./partials/stockbox.ejs')%>
</article>
</main>
<%- include('./partials/menu.ejs')%>


</div>
<%- include('./partials/footer.ejs')%>
</body>
</html>
