<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        var ma=<%- JSON.stringify(mov_avg_res) %>
        var closing_prices=<%- JSON.stringify(closing_prices) %>
        var temp_mov_avg=<%- JSON.stringify(temp_mov_avg) %>
        var mov_avg_res=<%- JSON.stringify(mov_avg_res) %>
        var closing_stepped=<%- JSON.stringify(closing_stepped) %>
        var dates=<%- JSON.stringify(dates) %>
        var dates_stepped=<%- JSON.stringify(dates_stepped) %>
        var result=<%- JSON.stringify(result) %>
        var pred_y=<%- JSON.stringify(pred_y) %>
        

        console.log(ma)
    </script>
</body>
</html>