
<!-- 
<html>
    <head>
        <title>Function Demo</title>
    </head>
    <body>
        <h3>Greetings from GeeksforGeeks</h3>
    </body>
    </html> -->

    <!DOCTYPE html>
<html>
<%- include('./partials/style.ejs') %>
<body>
	<%- include('./partials/header.ejs') %>

<div id="container"><main class="column" id="center">
<article>

  <h2>Stock search</h2>
  <br>
  </br>
  <form  method="GET">
  <div class="mb-2">
  <label>Name of the stock</label>
  <input type="text" name="Description" value="<%=searchOptions.Description %>" >
  </div>

  <h3 class="mb-3">or</h3>

  <div class="mb-3">
  <label >Ticker-symbol</label>
  <input type="text" name="Symbol" value="<%=searchOptions.Symbol %>" >
  </div>
  <button type="submit" class="btn btn-dark mb-2">Search</button>
  </form>
  <div id="container"><main class="column" id="center">
  


<%- include('./partials/stockbox.ejs')%>
</article>
</main>
<%- include('./partials/menu.ejs')%>

<!-- <div class="column" id="right">
<h3>Right heading</h3>

<p><script>generateText(1)</script></p>
</div> -->
</div>
<%- include('./partials/footer.ejs')%>
</body>
</html>
