<!DOCTYPE html>
<html>
    <style type="text/css">
        
        #table-wrapper{
            display: flex;
            
        }
        #table-wrapper>:first-child{
           margin-right: 50px;

       }
        td {
            display: inline-block;
        }

        td.spaced {
            margin-left: 30px;
        }

        tr {
            border-bottom: 1px solid #ddd;
        }

        tr:hover {
            background-color: #D6EEEE;
        }

        th.bottom-spaced {
            padding: 8px;
        }
    </style>
<%- include('./partials/style.ejs') %>

    <body>
        <%- include('./partials/header2.ejs') %>

            <div id="container">
                <main class="column" id="center">
                    <article>

                        <h3 class="mb-4"> Here is all our info about: </h3>



                        <h4 class="text-danger">
                            <%=output.Description %>
                        </h4>
                        <p>
                            <%= output.Symbol %>
                        </p>

                        <% var offset=new Date() %>
                            <h5 class='mb-4'> Last update: <%= price.date %>
                            </h5>

                            
                            <div id="table-wrapper">

                                <table>
                                    <tr>
                                        <th>Prices</th>
    
                                        <td class="spaced"></td>
                                    </tr>
                                    <tr>
                                        <th>Open</th>
                                        <td class="spaced">
                                            <%=price.open %>$
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>High</th>
                                        <td class="spaced">
                                            <%= price.high%> $
                                        </td>
                                    </tr>
    
                                    <tr>
                                        <th>Low</th>
                                        <td class="spaced">
                                            <%=price.low%>$
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Close</th>
                                        <td class="spaced">
                                            <%=price.close %> $
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Volume</th>
                                        <td class="spaced">
                                            <%=price.volume %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>52 week Low</th>
                                        <td class="spaced">
                                            <%=quote.fiftyTwoWeekLow %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>52 week High</th>
                                        <td class="spaced">
                                            <%=quote.fiftyTwoWeekHigh %>
                                        </td>
                                    </tr>
    
                                </table>
    
                                <table>
                                    <tr>
                                        <th>Currency
                                        </th>
                                        <td class="spaced">
                                            <%=quote.financialCurrency %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Stock Market</th>
                                        <td class="spaced">
                                            <%= quote.fullExchangeName%> $
                                        </td>
                                    </tr>
    
                                    <tr>
                                        <th>PE</th>
                                        <td class="spaced">
                                            <%=quote.trailingPE%>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>EPS</th>
                                        <td class="spaced">
                                            <%=quote.epsTrailingTwelveMonths %> $
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Sector</th>
                                        <td class="spaced">
                                            <%=result.companySnapshot.sectorInfo %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Dividend rate</th>
                                        <td class="spaced">
                                            <%= result2.summaryDetail.dividendRate %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Dividend yield</th>
                                        <td class="spaced">
                                            <%=result2.summaryDetail.dividendYield %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>exDividendDate</th>
                                        <td class="spaced">
                                            <%=result2.summaryDetail.exDividendDate %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>marketCap</th>
                                        <td class="spaced">
                                            <%=result2.summaryDetail.marketCap %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>beta</th>
                                        <td class="spaced">
                                            <%=result2.summaryDetail.beta %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>twoHundredDayAverage </th>
                                        <td class="spaced">
                                            <%=result2.summaryDetail.twoHundredDayAverage %>
                                        </td>
                                    </tr>
                                </table>

                            </div>
                    </article>
                    <div class="mb-2">
                        <div class="mt-4">


                            <% if (favVal===1) { %>

                                <form method="POST" action="/addfav/del/<%=output.Symbol%>">
                                    <button type="submit" class="btn btn-outline-warning">Remove from
                                        favourites</button>
                                </form>


                                <% } else { %>
                                    <!-- <a href="/addfav/<%=output.Symbol%>" class="btn btn-outline-primary">addfav get</a> -->
                                    <!-- <div class="btn btn-outline-primary">
        
        
    </div> -->
                                    <!-- <a type="submit" class="btn btn-warning">Add to favourites</a> -->
                                    <form method="POST" action="/addfav/add/<%=output.Symbol%>">
                                        <!-- <input type="text" id="symbol" name="symbol" value="<%=output.Symbol%>" required> -->
                                        <!-- input type hidden: -->
                                        <button type="submit" class="btn btn-warning">Add to favourites</button>
                                    </form>
                                    <!-- <script>
            const form = document.querySelector('form')
            
            form.addEventListener('submit', async (e) => {
            e.preventDefault()
            const name = form.symbol.value
            try {
                const Symbol=output.Symbol
                const res= await fetch('/addfav/<%=output.Symbol%>',{
                method: 'POST',
                // body: JSON.stringify({name: name,email: email,password: password}) az alatta lévő ugyanaz
                body: JSON.stringify({ Symbol}),
                headers: {'Content-Type': 'application/json'}
            })
        } catch (err) {
            console.log(err)
        }
        })
    </script> -->
                                    <% } %>
                        </div>
                    </div>



                </main>
                <%- include('./partials/menu.ejs')%>

                    <!-- <div class="column" id="right">
<h3>Right heading</h3>

<p><script>generateText(1)</script></p>
</div> -->
            </div>
            <%- include('./partials/footer.ejs')%>
    </body>

</html>