<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <p><%= stock.Symbol %></p>
  <h1><%= stock.Description%></h1>

  
    <h2><%= price["date"]  %></h2>
    <h2><%= price["open"]  %></h2>
    <h2><%= price["high"]  %></h2>
    <h2><%= price["low"]  %></h2>
    <h2><%= price["close"]  %></h2>
    <h2><%= price["volume"]  %></h2>
    
 
</body>
</html>