    <!DOCTYPE html>
<html>
<%- include('./partials/style.ejs') %>
<body>
	<%- include('./partials/header2.ejs') %>

<div id="container"><main class="column" id="center">
<article>

	<h3 class="mb-4"> Here is all our info about: </h3>

    
	
	<h4 class="text-danger">  <%=output.Description %></h4>
	<p> <%= output.Symbol %> </p>

	<% var offset = new Date() %>
  <h5 class='mb-4'> Last update: <%= price.date %></h5>
  
  <h5>Prices:</h5>
  <h5>Open: <%= price.open  %> $</h5>
  <h5>High: <%= price.high  %> $</h5>
  <h5>Low: <%= price.low  %> $</h5>
  <h5>Close: <%= price.close  %> $</h5>
  <h5>Volume: <%= price.volume   %> </h5>
</article>
<div class="mb-2">
    <div class="mt-4">
        
        
        <% if (favVal == 0) { %>
           
                
                <a type="submit" class="btn btn-outline-warning">Remove from favourites</a>
        
<% } else  { %> 
    <!-- <a href="/addfav/<%=output.Symbol%>" class="btn btn-outline-primary">addfav get</a> -->
    <!-- <div class="btn btn-outline-primary">
        
        
    </div> -->
        <!-- <a type="submit" class="btn btn-warning">Add to favourites</a> -->
        <form method="POST" action="/addfav/<%=output.Symbol%>" >
            <!-- <input type="text" id="symbol" name="symbol" value="<%=output.Symbol%>" required> -->
            <!-- input type hidden: -->
            <button type="submit" class="btn btn-warning" >Add to favourites</button>
        </form>
        <!-- <script>
            const form = document.querySelector('form')
            
            form.addEventListener('submit', async (e) => {
            e.preventDefault()
            const name = form.symbol.value
            try {
                const Symbol=output.Symbol
                const res= await fetch('/addfav/<%=output.Symbol%>',{
                method: 'POST',
                // body: JSON.stringify({name: name,email: email,password: password}) az alatta lévő ugyanaz
                body: JSON.stringify({ Symbol}),
                headers: {'Content-Type': 'application/json'}
            })
        } catch (err) {
            console.log(err)
        }
        })
    </script> -->
    <% }  %>
    </div>
</div>



</main>
<%- include('./partials/menu.ejs')%>

<!-- <div class="column" id="right">
<h3>Right heading</h3>

<p><script>generateText(1)</script></p>
</div> -->
</div>
<%- include('./partials/footer.ejs')%>
</body>
</html>
